{{ define "main" }}
  <main role="main" id="main">
    <h1>{{ .Title }}</h1>
    {{ if eq .Dir "news/" }}<div class="text-center"><small><strong>Published:</strong> {{ .Page.PublishDate.Day }} {{ .Page.PublishDate.Month }}, {{ .Page.PublishDate.Year }}</small></div>{{ end }}
    {{ if eq .Dir "tables/" }}<div class="text-center"><small><strong>Last Updated:</strong> {{ .Page.PublishDate.Day }} {{ .Page.PublishDate.Month }}, {{ .Page.PublishDate.Year }}</small></div>{{ end }}
    {{ .Content }}
  </main>
{{end}}
