<nav role="navigation">
  <a href="/" aria-describedby="current"><img src="/images/nfrba_small.jpg" alt="North Foreland Regional Badminton Association Homepage"/> <span aria-hidden="true" role="presentation">NFRBA</span></a>
  <button aria-expanded="false">Menu</button>
  <ul hidden>
    <li><a href="/" aria-describedby="current">Home</a>
    <li><a href="/tables">Tables</a></li>
    <li><a href="/clubs">Club Info</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/juniors">Juniors</a></li>
    <li><a href="/documents">Documents</a></li>
    <li><a href="/fixtures-and-results">Fixtures and Results</a></li>
  </ul>
  <div hidden id="current">Current page</div>
</nav>
