{{ if isset .Params "thumbnail" }}
  <section class="grid">
    <div>
      <img src="/images/covers/{{ .Params.thumbnail}}" class="img-fluid" alt="" />
    </div>
    <div class="mt-0">
      <h3 class="mt-0"><a href="{{ .URL }}">{{ .Title }}</a></h3>
      {{ .Summary  }}
      <div class="mt-0"><a href="{{ .URL }}">read more</a></div>
    </div>
  </section>
{{ else }}
  <section>
    <div class="mt-0">
      <h3 class="mt-0"><a href="{{ .URL }}">{{ .Title }}</a></h3>
      {{ .Summary  }}
      <div class="mt-0"><a href="{{ .URL }}">read more</a></div>
    </div>
  </section>
{{ end }}
<hr aria-hidden="true" role="presentation">
